@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #4a90e2;
  --secondary-color: #326096;
  --bg-color: #f4f4f4;
  --hover-color: #e6e5e5;
  --text-color: #333;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: rgba(244, 244, 244, 0.6);
  backdrop-filter: blur(2px);
  z-index: 100;
}

div.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  max-width: 80rem;
  margin: 0 auto;
}

img.logo {
  width: 50px;
  border-radius: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

nav ul li {
  cursor: pointer;
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
}

a {
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--secondary-color);
}

button {
  border: none;
  border-radius: 100%;
  padding: 4px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

button.nav-btn {
  display: none;
}

nav div.close-btn-container {
  position: relative;
  width: 100%;
  height: fit-content;
}

nav div.close-btn-container button.close-btn {
  display: none;
}

main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

main.contact,
main.about-main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
}

section.experience,
section.contact,
section.portfolio,
section.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.about .card {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}

section.portfolio {
  margin-bottom: 30px;
}

section.experience .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

section.experience .card-description {
  padding: 0px;
}

section.portfolio .card-description {
  margin-bottom: 5px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.card-description {
  padding-left: 15px;
  font-size: 14px;
  text-align: justify;
}

.about h1 {
  text-align: center;
}

.about .card-description {
  font-size: 16px;
  padding-left: 0px;
}

.company-logo {
  width: 100px;
  height: auto;
  margin-bottom: auto;
}

.experience-info {
  margin-top: 5px;
}

section.hero {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  align-items: start;
  min-height: 85vh;
}

.hero-content,
.aside {
  width: 100%;
}

.hero-content .card-title {
  cursor: pointer;
}

.hero-content:hover {
  transition: all 0.4s ease-in-out;
}

.hero-content:hover {
  background-color: #a4c3fd4f;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  cursor: pointer;
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  width: fit-content;
  align-self: flex-end;
}

form#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 600;
}

input,
textarea {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

textarea {
  resize: none;
  min-height: 100px;
}

.book-author {
  font-size: 12px;
}

.book-sinopsis {
  font-size: 14px;
  margin-top: 10px;
  text-align: justify;
}

.book-price {
  font-size: 14px;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Estilização pontual também abordada aqui */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 2rem;
}
.items-center {
  align-items: center;
}
.text-justify {
  text-align: justify;
}
.m-0 {
  margin: 0;
}
.relative {
  position: relative;
}
/* ---------------------------------------- */

/* Media Queries */
@media screen and (max-width: 768px) {
  div.header-container {
    padding: 15px;
  }

  button.nav-btn {
    display: flex;
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transform: translateX(100%);
    display: flex;
  }

  nav.mobile-open {
    background-color: var(--bg-color);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 5;
  }

  nav.mobile-open ul {
    flex-direction: column;
    gap: 20px;
  }

  nav div.close-btn-container button.close-btn {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    border: none;
    z-index: 10;
    transition: background-color 0.2s ease-in-out;
  }

  nav div.close-btn-container button.close-btn:hover {
    background-color: var(--hover-color);
  }

  section.experience h1 {
    font-size: 20px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-description {
    font-size: 14px;
  }

  section.hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  section.experience .card {
    flex-direction: column;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }
}
